<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.dot166.themeengine"
    android:versionCode="40"
    android:versionName="@string/ver_name">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        tools:replace="android:icon,android:name,android:theme"
        android:name="io.github.dot166.themeengine.TEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_themeengine"
        android:label="@string/app_name"
        android:theme="@style/j.Theme"
        android:supportsRtl="true">
        <!-- this is just here for jLib -->
        <!-- temporary, TrampolineTEActivity is just a temporary measure for compatibility -->
        <activity
            android:name="io.github.dot166.themeengine.TrampolineTEActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="io.github.dot166.themeengine.CONFIG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- DEPRECATED -->
        <activity
            android:name="io.github.dot166.themeengine.ConfigActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel"/>

        <activity
            android:name="io.github.dot166.themeengine.ThemeEngineActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel"/>

        <activity android:name="io.github.dot166.themeengine.LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_themeengine"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="io.github.dot166.themeengine.TEBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.launcher3.action.PARTNER_CUSTOMIZATION" /> <!-- Launcher3 Customisation thing for jOS -->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="io.github.dot166.themeengine.ThemeProvider"
            android:authorities="io.github.dot166.themeengine.ThemeProvider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>
