<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jOS.Core" >

    <uses-sdk android:minSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>

        <!-- Theme Engine Database -->
        <package android:name="jOS.ThemeEngine" />
    </queries>

    <application
        android:name="jOS.Core.jLIBCoreApp"
        android:icon="@drawable/ic_launcher_j"
        android:theme="@style/jOS.Theme" >

        <!-- Test Activity -->
        <activity
            android:name="jOS.Core.LIBTestActivity"
            android:exported="true"
            android:label="@string/libplaceholder" />
        <!-- Changelog -->
        <activity
            android:name="jOS.Core.LIBChangelogActivity"
            android:exported="true"
            android:label="@string/jlib_changelog" />
        <!-- LIB About Menu -->
        <activity
            android:name="jOS.Core.LIBAboutActivity"
            android:exported="true"
            android:label="@string/about" />
        <!-- OpenSource Licence Activity -->
        <activity
            android:name="jOS.Core.OSSLicenceActivity"
            android:exported="false"
            android:label="@string/licences" />
    </application>

</manifest>