<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.dot166.jLib">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <!-- Theme Engine Provider -->
        <package android:name="io.github.dot166.ThemeEngine"/>
    </queries>

    <application android:name=".app.jLIBCoreApp"
                 android:icon="@mipmap/ic_launcher_j"
                 android:theme="@style/j.Theme">
        <!-- Test Activity -->
        <activity
            android:name=".LIBTestActivity"
            android:label="@string/libplaceholder"
            android:exported="true" />
        <!-- Changelog -->
        <activity
            android:name=".LIBChangelogActivity"
            android:label="@string/jlib_changelog"
            android:exported="true" />
        <!-- LIB About Menu -->
        <activity
            android:name=".LIBAboutActivity"
            android:label="@string/about_jlib"
            android:exported="true"/>
        <!-- OpenSource Licence Activity -->
        <activity
            android:name=".app.OSSLicenceActivity"
            android:label="@string/licences"
            android:exported="false" />
        <!-- BirdGame -->
        <activity
            android:name=".BirdGameActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher_j"
            android:label="@string/birdgame"
            android:launchMode="singleInstance"
            android:screenOrientation="locked" />
    </application>

</manifest>
