<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.dot166.jlib">

    <application android:name=".app.jLIBCoreApp">
        <!-- Test Activity -->
        <activity
            android:name=".LIBTestActivity"
            android:icon="@android:drawable/sym_def_app_icon"
            android:label="@string/libplaceholder"
            android:theme="@style/j.Theme"
            android:exported="true" />
    </application>

</manifest>
