<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="jOS.Core">

    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <package android:name="jOS.ThemeEngine"/>
    </queries>

    <application android:name=".jSDKCoreApp"
                 android:icon="@drawable/ic_launcher_j"
                 android:theme="@style/jOS.Theme">
        <activity
            android:name=".SDKTestActivity"
            android:label="@string/sdkplaceholder"
            android:exported="true" />
        <activity
            android:name=".SDKChangelogActivity"
            android:label="@string/jsdk_changelog"
            android:exported="true" />
        <activity
            android:name=".SDKAboutActivity"
            android:label="@string/about"
            android:exported="true"/>
        <activity
            android:name=".jAboutActivity"
            android:exported="false"/>
        <!-- OpenSource Licence Activity -->
        <activity
            android:name=".OSSLicenceActivity"
            android:label="@string/licences"
            android:exported="false" />
    </application>

</manifest>
